@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">An asp is a small european viper. The snakes are now online.</p>
    <p><a href="https://en.wikipedia.org/wiki/Asp_(snake)" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>


      
            In order to understand
            why we are kept down
            you need to realize that everything is controlled by a
            secret cabal
            made up of
            really old Nazis
            <br />

            The conspirators are
            agents of the Antichrist
            and their conspiracy began
            with the struggle between Plato and Aristotle
            <br />

            The conspirators have been responsible for many events throughout history, including
            the homosexual movement
            <br />
            Today, members of the conspiracy are everywhere. They can be identified only by
            the club they belonged to in college
            <br />
            The conspirators have help from powerful elite
            puppet masters, and the conspiracy benefits undeserving
            illegal immigrants; at the expense of
            Russian Orthodox Christians
            <br />

            The conspirators want to
            drain the precious bodily fluids from
            all
            straight White heterosexual Christian men, and round up and restrain resisters in
            their own bodies using mind control. They are using
            black-booted stormtroopers
            to establish
            a New World Order
            <br />

            In order to prepare for this, we all must
            take out advertisements in the New York Times. All of this was revealed years ago
            by Henry Ford. Since the media is controlled by
            secular humanists
            you should get your information only from
            the guy who secretly flew Bush to Paris
            <br />
        </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Deus_Ex_(video_game)">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Jesus Christ, a snake!</h2>
        <p>Elderly ball python lays eggs 'without male help' projects.</p>
        <p><a class="btn btn-default" href="https://www.bbc.com/news/world-us-canada-54121551">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>